Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    # Lindungi folder includes dan database dari akses langsung
    RewriteRule ^includes/ - [F,L]
    RewriteRule ^database/ - [F,L]
</IfModule>
